[submodule "Vultron-GoEthereum"]
	path = Vultron-GoEthereum
	url = git@github.com:ntu-SRSLab/Vultron-GoEthereum.git
[submodule "Vultron-Fisco"]
	path = Vultron-Fisco
	url = git@github.com:ntu-SRSLab/Vultron-Fisco.git
