<!-- views/project.ejs -->
<!doctype html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vultron</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
      <a class="navbar-brand">Vultron</a>
      <a class="navbar-brand pull-right">
      	 <%= status %>
      </a>
    </div>
  </nav>
  
  <div class="container">
    <div class="list-group">
      <%
	 callFuns.forEach(function(call) { %>
        <h4 class="list-group-item-heading">
	  <%= call.func %>
	</h4>
	<p class="list-group-item-text">
	  <%= call.param %>
	  <%= call.gas %>
 	  </p> 
      <% });
         %>
    </div>
  </div>

  <hr>
  <footer id="footer">
    <p class="text-center">© Vultron 2019</p>
  </footer>
    
</body>

</html>
